
<aside class="w-full md:w-1/3 flex flex-col items-center px-3">

    <div class="w-full bg-white shadow flex flex-col p-6">
        <p class="text-xl font-semibold pb-5">WHY CHOOSE US</p>
        <ul class="pb-2 list-disc pl-5">
            <li>ODM/OEM service with strong capacity and long-term experience.</li>
            <li>In-house expertise for R&D of hi-tech textile products.</li>
            <li>Vertical set-up from knitting to ready-made garments.</li>
            <li>High commitment to international and buyer's quality standard.</li>
            <li>Complete social compliance practices and audits.</li>
        </ul>
    </div>

</aside>