<footer
      class="border-t border-t-light-white-quaternary bg-white pt-[52px] xl:pt-[72px]"
    >
      <div class="container">
        <div
          class="grid grid-cols-3 gap-x-2 gap-y-6 lg:grid-cols-[2fr_1fr_1fr_1fr_2fr] lg:gap-x-8"
        >
          <div class="col-span-3 lg:col-span-1">
            <a href="#"
              ><img
                width="438"
                height="114"
                class="w-[220px]"
                src="./assets/images/logo-foot.png"
                alt=""
            /></a>
            <p
              class="mt-[20px] text-[14px] font-semibold uppercase text-text-primary"
            >
              THYGESEN TEXTILE VIETNAM COMPANY LIMITED
            </p>
            <ul class="mt-4 flex flex-col gap-y-[3px]">
              <li class="flex items-center gap-x-3">
                <img
                  src="./assets/svgs/location.svg"
                  width="16"
                  height="16"
                  alt="Location"
                />
                <a
                  class="text-[14px] text-text-primary hover:underline"
                  href="#"
                  >Location: 9th Floor, Vinafor Building, 127 Lo Duc Street, Hai
                  Ba Trung District, Hanoi, Vietnam</a
                >
              </li>
              <li class="flex items-center gap-x-3">
                <img
                  src="./assets/svgs/phone.svg"
                  width="16"
                  height="16"
                  alt="Phone"
                />
                <a
                  class="text-[14px] text-text-primary hover:underline"
                  href="tel:+84963009993"
                  >Phone: (+84) 963 009 993</a
                >
              </li>
              <li class="flex items-center gap-x-3">
                <img
                  src="./assets/svgs/email.svg"
                  width="16"
                  height="16"
                  alt="Email"
                />
                <a
                  class="text-[14px] text-text-primary hover:underline"
                  href="mailto:sale@thygesen.com.vn"
                  >Email: sale@thygesen.com.vn</a
                >
              </li>
            </ul>
          </div>
          <div>
            <p class="text-[16px] font-semibold text-text-primary">
              Informations
            </p>
            <ul class="mt-4">
              <li>
                <a
                  class="text-[14px] leading-[32px] text-text-primary hover:underline"
                  href="#"
                  >Who We Are</a
                >
              </li>
              <li>
                <a
                  class="text-[14px] leading-[32px] text-text-primary hover:underline"
                  href="#"
                  >Our History</a
                >
              </li>
              <li>
                <a
                  class="text-[14px] leading-[32px] text-text-primary hover:underline"
                  href="#"
                  >Vision & Mission</a
                >
              </li>
              <li>
                <a
                  class="text-[14px] leading-[32px] text-text-primary hover:underline"
                  href="#"
                  >Capabilities</a
                >
              </li>
              <li>
                <a
                  class="text-[14px] leading-[32px] text-text-primary hover:underline"
                  href="#"
                  >Sustainability</a
                >
              </li>
              <li>
                <a
                  class="text-[14px] leading-[32px] text-text-primary hover:underline"
                  href="#"
                  >Thygense Group</a
                >
              </li>
            </ul>
          </div>
          <div>
            <p class="text-[16px] font-semibold text-text-primary">
              Manufacturing
            </p>
            <ul class="mt-4">
              <li>
                <a
                  class="text-[14px] leading-[32px] text-text-primary hover:underline"
                  href="#"
                  >OEM clothing manufacturer</a
                >
              </li>
              <li>
                <a
                  class="text-[14px] leading-[32px] text-text-primary hover:underline"
                  href="#"
                  >Custom clothing production</a
                >
              </li>
              <li>
                <a
                  class="text-[14px] leading-[32px] text-text-primary hover:underline"
                  href="#"
                  >Private label clothing manufacturer</a
                >
              </li>
              <li>
                <a
                  class="text-[14px] leading-[32px] text-text-primary hover:underline"
                  href="#"
                  >High-quality apparel maker</a
                >
              </li>
            </ul>
          </div>
          <div>
            <p class="text-[16px] font-semibold text-text-primary">Our Menu</p>
            <ul class="mt-4">
              <li>
                <a
                  class="text-[14px] leading-[32px] text-text-primary hover:underline"
                  href="#"
                  >Thygesen Today</a
                >
              </li>
              <li>
                <a
                  class="text-[14px] leading-[32px] text-text-primary hover:underline"
                  href="#"
                  >Industry News</a
                >
              </li>
              <li>
                <a
                  class="text-[14px] leading-[32px] text-text-primary hover:underline"
                  href="#"
                  >CSR Activities</a
                >
              </li>
            </ul>
          </div>
          <div class="col-span-3 lg:col-span-1">
            <p class="text-[16px] font-semibold text-text-primary">
              Certification
            </p>
            <div
              class="mt-4 grid grid-cols-5 items-center gap-2 sm:flex sm:flex-wrap md:gap-3 lg:gap-4 2xl:gap-6"
            >
              <img
                class="w-[74px] object-contain"
                width="148"
                height="102"
                src="./assets/images/certifications/8.png"
                loading="lazy"
                alt="Wrap"
              />
              <img
                class="w-[43px] object-contain"
                width="86"
                height="102"
                src="./assets/images/certifications/9.png"
                loading="lazy"
                alt="SA"
              />
              <img
                class="w-[108px] object-contain"
                width="216"
                height="102"
                src="./assets/images/certifications/10.png"
                loading="lazy"
                alt="BetterWork"
              />
              <img
                class="w-[51px] object-contain"
                width="102"
                height="102"
                src="./assets/images/certifications/2.png"
                loading="lazy"
                alt="ISO"
              />
              <img
                class="w-[60px] object-contain"
                width="120"
                height="102"
                src="./assets/images/certifications/4.png"
                loading="lazy"
                alt="9001:2015"
              />

              <img
                class="w-[41px] object-contain"
                width="82"
                height="102"
                src="./assets/images/certifications/3.png"
                loading="lazy"
                alt="FSC"
              />
              <img
                class="w-[57px] object-contain"
                width="114"
                height="102"
                src="./assets/images/certifications/1.png"
                loading="lazy"
                alt="Global"
              />
              <img
                class="w-[116px] object-contain"
                width="254"
                height="102"
                src="./assets/images/certifications/7.png"
                loading="lazy"
                alt="FDA"
              />
              <img
                class="w-[80px] object-contain"
                width="204"
                height="102"
                src="./assets/images/certifications/5.png"
                loading="lazy"
                alt=""
              />
              <img
                class="w-[80px] object-contain"
                width="204"
                height="102"
                src="./assets/images/certifications/6.png"
                loading="lazy"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div
        class="mt-[54px] bg-light-white-quinary p-3 text-center text-[14px] text-text-primary"
      >
        Copyright © 2023 Thygesen Textile Vietnam
      </div>
    </footer>