
<header class="w-full">
    <div class="top-header bg-dark-blue">
        <div
          class="container flex items-center justify-between gap-x-[50px] py-[14px]"
        >
          <div class="swiper ticker-swipe ml-0 mr-auto h-[15px] max-w-full">
            <div class="swiper-wrapper">
              <div class="swiper-slide flex w-full items-center">
                <a
                  href="https://www.youtube.com/watch?v=gSbTWtK4tks
                "
                  target="_blank"
                  class="line-clamp-1 block h-full w-full max-w-full text-[10px] uppercase tracking-[0.2em] hover:underline"
                >
                  Anniversary Film: Into our
                  <span class="text-light-yellow-secondary"
                    >92-year Journey</span
                  >
                  of Innovation
                </a>
              </div>
              <div class="swiper-slide flex items-center">
                <a
                  href="#"
                  class="line-clamp-1 block h-full w-full max-w-full text-[10px] uppercase tracking-[0.2em] hover:underline"
                >
                  <span class="text-light-yellow-secondary"
                    >Truthfulness in our DNA: </span
                  >Navigating Business with Honesty and Integrity
                </a>
              </div>
              <div class="swiper-slide flex items-center">
                <a
                  href="#"
                  class="line-clamp-1 block h-full w-full max-w-full text-[10px] uppercase tracking-[0.2em] hover:underline"
                >
                  <span class="text-light-yellow-secondary"
                    >Pursuing Truthfulness: </span
                  >A CEO's Inspiring Path to Find True Happiness
                </a>
              </div>
            </div>
          </div>
          <!-- <div class="ticker-wrap">
            <div class="ticker flex">
              <a
                href="https://www.youtube.com/watch?v=gSbTWtK4tks
                "
                target="_blank"
                class="ticker__item text-[10px] uppercase tracking-[0.2em]"
              >
                Anniversary Film: Into our
                <span class="text-light-yellow-secondary">92-year Journey</span>
                of Innovation
              </a>
              <a
                href="#"
                class="ticker__item text-[10px] uppercase tracking-[0.2em]"
              >
                <span class="text-light-yellow-secondary"
                  >Truthfulness in our DNA: </span
                >Navigating Business with Honesty and Integrity
              </a>
              <a
                href="#"
                class="ticker__item text-[10px] uppercase tracking-[0.2em]"
              >
                <span class="text-light-yellow-secondary"
                  >Pursuing Truthfulness: </span
                >A CEO's Inspiring Path to Find True Happiness
              </a>
            </div>
          </div> -->
          <ul class="text-light-white hidden items-center text-xs lg:flex">
            <li>
              <a class="hover:text-light-yellow-secondary" href="#"
                >Catalogue</a
              >
            </li>
            <li class="mx-8 hover:text-light-yellow-secondary">
              <a class="" href="#">FAQs</a>
            </li>
            <li>
              <a class="hover:text-light-yellow-secondary" href="#">News</a>
            </li>
          </ul>
        </div>
      </div>
      <nav class="main-header">
        <div class="bg-light-white-secondary py-6">
          <div class="container flex items-center justify-between">
            <a href="#"
              ><img
                class="max-h-[48px] w-[258px] object-contain"xy
                {{ ultis.renderImages('/contents/images/logo.png', 'Logo', "519", "96") }}
            </a>
            <div class="hidden items-center lg:flex">
              <ul
                class="flex items-center gap-x-2 text-text-primary xl:gap-x-5"
              >
                <li
                  class="block rounded px-4 py-3 transition-all duration-150 hover:bg-light-yellow-primary"
                >
                  <a href="#">Home</a>
                </li>
                <li
                  class="mega-menu-toggle block rounded px-4 py-3 transition-all duration-150 hover:bg-light-yellow-primary"
                >
                  <a class="flex items-center gap-x-1" href="#"
                    >Services
                    <svg
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M4 6.66666L8 10.6667L12 6.66666"
                        stroke="#68479C"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </a>
      
                  <div class="mega-menu">
                    <p class="px-4 pb-4 text-[16px] font-normal text-[#777777]">
                      We are proud to deliver exceptional value and offer
                      high-quality ODM/OEM services with diverse product lines
                    </p>
                    <div class="h-[1px] w-full bg-light-white-quaternary"></div>
                    <div class="mt-3 grid grid-cols-7 gap-x-6 px-4">
                      <div>
                        <h6
                          class="mega-title text-[20px] text-text-secondary"
                          data="active-ware"
                        >
                          Activewear
                        </h6>
                        <ul class="mt-[26px]">
                          <li>
                            <a
                              class="block border-b border-b-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Leggings</a
                            >
                          </li>
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Bras</a
                            >
                          </li>
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >T-shirts</a
                            >
                          </li>
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Tank Tops</a
                            >
                          </li>
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Joggers and Shorts</a
                            >
                          </li>
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Hoodies</a
                            >
                          </li>
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Jackets</a
                            >
                          </li>
                        </ul>
                      </div>
                      <div>
                        <h6
                          class="mega-title text-[20px] text-text-secondary"
                          data="active-ware"
                        >
                          Medical Devices
                        </h6>
                        <ul class="mt-[26px]">
                          <li>
                            <a
                              class="block border-b border-b-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Hospital Wear</a
                            >
                          </li>
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Bandages</a
                            >
                          </li>
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Face Mask</a
                            >
                          </li>
                        </ul>
                      </div>
                      <div>
                        <h6
                          class="mega-title text-[20px] text-text-secondary"
                          data="under-ware"
                        >
                          Underwear
                        </h6>
                        <ul class="mt-[26px]">
                          <li>
                            <a
                              class="block border-b border-b-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Panties</a
                            >
                          </li>
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Seamless Pants</a
                            >
                          </li>
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Boxers</a
                            >
                          </li>
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Pajamas</a
                            >
                          </li>
                        </ul>
                      </div>
                      <div>
                        <h6
                          class="mega-title text-[20px] text-text-secondary"
                          data="fashion-ware"
                        >
                          Fashionwear
                        </h6>
                        <ul class="mt-[26px]">
                          <li>
                            <a
                              class="block border-b border-b-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >T-shirts</a
                            >
                          </li>
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Polo Shirts</a
                            >
                          </li>
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Hoodies</a
                            >
                          </li>
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Jackets</a
                            >
                          </li>
                        </ul>
                      </div>
                      <div>
                        <h6
                          class="mega-title text-[20px] text-text-secondary"
                          data="kids-wear"
                        >
                          Kidswear
                        </h6>
                        <ul class="mt-[26px]">
                          <li>
                            <a
                              class="block border-b border-b-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Bodysuits</a
                            >
                          </li>
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Jumpsuits</a
                            >
                          </li>
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Shirts</a
                            >
                          </li>
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Girl Dresses</a
                            >
                          </li>
      
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Jackets</a
                            >
                          </li>
                        </ul>
                      </div>
                      <div>
                        <h6
                          class="mega-title text-[20px] text-text-secondary"
                          data="work-wear"
                        >
                          Workwear
                        </h6>
                        <ul class="mt-[26px]">
                          <li>
                            <a
                              class="block border-b border-b-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Uniforms</a
                            >
                          </li>
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Base Layers</a
                            >
                          </li>
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Hoodies</a
                            >
                          </li>
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Jackets</a
                            >
                          </li>
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Reflective Vests</a
                            >
                          </li>
                        </ul>
                      </div>
                      <div>
                        <h6
                          class="mega-title text-[20px] text-text-secondary"
                          data="custom-socks"
                        >
                          Custom socks
                        </h6>
                        <ul class="mt-[26px]">
                          <li>
                            <a
                              class="block border-b border-b-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Athletic socks</a
                            >
                          </li>
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Casual socks</a
                            >
                          </li>
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Dress socks</a
                            >
                          </li>
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Crew socks</a
                            >
                          </li>
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Ankle socks</a
                            >
                          </li>
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >No-show socks</a
                            >
                          </li>
                          <li>
                            <a
                              class="block border-y-[0.5px] border-y-light-white-quaternary py-4 text-[#777777] transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                              href="#"
                              >Novelty socks</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <li
                  class="block rounded px-4 py-3 transition-all duration-150 hover:bg-light-yellow-primary"
                >
                  <a href="#">Capabilities</a>
                </li>
                <li
                  class="block rounded px-4 py-3 transition-all duration-150 hover:bg-light-yellow-primary"
                >
                  <a href="#">Sustainability</a>
                </li>
                <li class="sub-certi-toggle">
                  <a class="flex items-center gap-x-1" href="#"
                    >Certifications
                    <svg
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M4 6.66666L8 10.6667L12 6.66666"
                        stroke="#68479C"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </a>
                  <ul
                    class="sub-certi absolute left-0 top-[calc(100%+20px)] flex min-w-[205px] flex-col bg-[#FEFFFD] p-6"
                  >
                    <li
                      class="border-b border-b-[#F1F2F3] pb-2 text-[18px] transition-all duration-200 hover:text-dark-purple"
                    >
                      <a href="#">GSV</a>
                    </li>
                    <li
                      class="text-16 border-b border-b-[#F1F2F3] py-2 text-text-secondary transition-all duration-300 hover:translate-x-2 hover:text-dark-purple lg:text-[18px]"
                    >
                      <a href="#">ISO 9001:2015</a>
                    </li>
                    <li
                      class="text-16 border-b border-b-[#F1F2F3] py-2 text-text-secondary transition-all duration-300 hover:translate-x-2 hover:text-dark-purple lg:text-[18px]"
                    >
                      <a href="#">ISO 13485:2016</a>
                    </li>
                    <li
                      class="text-16 border-b border-b-[#F1F2F3] py-2 text-text-secondary transition-all duration-300 hover:translate-x-2 hover:text-dark-purple lg:text-[18px]"
                    >
                      <a href="#">SA 8000:2014</a>
                    </li>
                    <li
                      class="text-16 border-b border-b-[#F1F2F3] py-2 text-text-secondary transition-all duration-300 hover:translate-x-2 hover:text-dark-purple lg:text-[18px]"
                    >
                      <a href="#">WRAP</a>
                    </li>
                    <li
                      class="text-16 border-b border-b-[#F1F2F3] py-2 text-text-secondary transition-all duration-300 hover:translate-x-2 hover:text-dark-purple lg:text-[18px]"
                    >
                      <a href="#">CE MARKING</a>
                    </li>
                    <li
                      class="text-16 border-b border-b-[#F1F2F3] py-2 text-text-secondary transition-all duration-300 hover:translate-x-2 hover:text-dark-purple lg:text-[18px]"
                    >
                      <a href="#">Oeko-Tex</a>
                    </li>
                    <li
                      class="text-16 border-b border-b-[#F1F2F3] py-2 text-text-secondary transition-all duration-300 hover:translate-x-2 hover:text-dark-purple lg:text-[18px]"
                    >
                      <a href="#">Better Work</a>
                    </li>
                    <li
                      class="text-16 border-b border-b-[#F1F2F3] py-2 text-text-secondary transition-all duration-300 hover:translate-x-2 hover:text-dark-purple lg:text-[18px]"
                    >
                      <a href="#">FSC</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a
                    class="flex items-center justify-between text-text-primary transition-all duration-300 hover:translate-x-2 hover:text-dark-purple"
                    href="#"
                    >About Us</a
                  >
                </li>
              </ul>
              <a
                class="ml-6 rounded-[4px] border border-transparent bg-light-yellow-primary px-4 py-3 text-sm text-dark-blue transition-all duration-200 hover:border-light-yellow-primary hover:bg-transparent hover:text-light-yellow-primary xl:ml-8"
                href="#"
                >Contact Us</a
              >
            </div>
            <div class="toggle-mobile block cursor-pointer lg:hidden">
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  width="24"
                  height="2.28571"
                  rx="1.14286"
                  transform="matrix(-1 0 0 1 32 12)"
                  fill="#68479C"
                />
                <rect
                  width="16"
                  height="2.28571"
                  rx="1.14286"
                  transform="matrix(-1 0 0 1 32 19.2857)"
                  fill="#68479C"
                />
                <rect
                  width="9.6"
                  height="2.28571"
                  rx="1.14286"
                  transform="matrix(-1 0 0 1 32 26.5714)"
                  fill="#68479C"
                />
              </svg>
            </div>
          </div>
        </div>
      </nav>
       <div class="space-main-header w-full"></div>
    </header>
