
<section class="container p-6 mx-auto space-y-8">
    <div class="space-y-2 text-center">
        <h2 class="text-3xl font-bold">Similar Posts</h2>
    
    </div>
    <div
class="news-swiper-wrapper relative mt-[56px] px-4 lg:container md:px-0"
>
<!-- <div
class="absolute left-0 top-0 z-20 hidden h-full w-5 bg-white blur-md md:block lg:hidden"
></div>
<div
class="absolute right-0 top-0 z-20 hidden h-full w-5 bg-white blur-md md:block lg:hidden"
></div> -->
<div class="swiper news-swiper container">
<div class="swiper-wrapper pb-5">
  <div class="swiper-slide">
    <div class="">
      <img
        class="w-full rounded-t-[8px] object-cover object-center"
        loading="lazy"
        width="824"
        height="440"
        src=""
        alt="news-1"
      />
      <p
        class="mt-8 line-clamp-2 text-[24px] text-dark-gray lg:line-clamp-none"
      >
        LEAN Mindset And Thinking – More Than A Course
      </p>
      <p
        class="mb-8 mt-6 line-clamp-5 text-[16px] text-text-primary lg:text-[18px]"
      >
        On September 24, 2022, the course “LEAN Mindset and
        Thinking” – the beginning of the “MIV Lean Management”
        training program took place very successfully with the
        enthusiastic response of Thygeseners…
      </p>
      <a
        href="#"
        class="border border-text-primary px-6 py-3 text-text-primary transition-all duration-200 hover:bg-dark-purple hover:text-white"
      >
        Read more
      </a>
    </div>
  </div>
  <div class="swiper-slide">
    <div class="">
      <img
        class="w-full rounded-t-[8px] object-cover object-center"
        loading="lazy"
        width="824"
        height="440"
        src=""
        alt="news-2"
      />
      <p
        class="mt-8 line-clamp-2 text-[24px] text-dark-gray lg:line-clamp-none"
      >
        How Thygesen Helps To Prevent Covid-19
      </p>
      <p
        class="mb-8 mt-6 line-clamp-5 text-[16px] text-text-primary lg:text-[18px]"
      >
        The virus outbreak emerged in Wuhan, China, and has spread
        to half a dozen other countries, including Vietnam. Since
        then, there has been a huge increase in the number of…Since
        then, there has been a huge increase in the
      </p>
      <a
        href="#"
        class="border border-text-primary px-6 py-3 text-text-primary transition-all duration-200 hover:bg-dark-purple hover:text-white"
      >
        Read more
      </a>
    </div>
  </div>
  <div class="swiper-slide">
    <div class="">
      <img
        class="w-full rounded-t-[8px] object-cover object-center"
        loading="lazy"
        width="824"
        height="440"
        src=""
        alt="news-3"
      />
      <p
        class="mt-8 line-clamp-2 text-[24px] text-dark-gray lg:line-clamp-none"
      >
        Vietnamese garment companies export masks to the US, EU
      </p>
      <p
        class="mb-8 mt-6 line-clamp-5 text-[16px] text-text-primary lg:text-[18px]"
      >
        After signing deals, Vietnamese garment companies export
        hundreds of millions of face masks to the U.S. and the
        E.U.Since then, there has been a huge increase in the number
        of…Since then, there has been a huge increase
      </p>
      <a
        href="#"
        class="border border-text-primary px-6 py-3 text-text-primary transition-all duration-200 hover:bg-dark-purple hover:text-white"
      >
        Read more
      </a>
    </div>
  </div>
</div>
</div>
</div>
</section>